.section2__content {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.section2__content:last-child {
   margin-bottom: 0;
}

.section2__content-img {
   max-width: 560px;
   height: auto;
   margin-right: 30px;
}

.section2__content-img:last-child {
   margin-right: 0;
}

.section2__content-text {
   margin-bottom: 30px;
}

.section2__descr--bottom {
   margin-right: 30px;
}